a {
    color: #6c757d;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.bg-navy {
    background-color: rgba(75, 145, 208, 1);

    a,
    div {
        color: #ffffff;
    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #d0d0d0;
    }

    .dropdown-menu {
        background-color: rgba(75, 145, 208, 1);
    }
}

.bg-brown {
    background-color: rgba(76, 58, 0, 1);

    a,
    div {
        color: #ffffff;
    }
}
